version: '3.8'

## This doesn't work, unfortunately
# name: "sniper-staging-compose"

services:
  ingestion-server:
    image: drewdrewthis/alpha-sniper:ingestion-server
    x-aws-pull_credentials: "arn:aws:secretsmanager:us-east-1:218278947951:secret:pullcred-ViM6rh"
    command: >
        bash -c "
        yarn prisma generate &&
        yarn prisma migrate deploy &&
        yarn prisma db seed &&
        (yarn prisma studio & yarn start:prod)"
    ports:
      - 3000:3000
      - 5555:5555
    environment:
      - REDIS_HOST=redis-server
      - REDIS_PORT=6379
      # 2 mins
      - X2Y2_SCHEDULER_FREQUENCY_MS=120000
    env_file:
      - .env
    networks:
      - snipernetwork

  redis-server:
    image: redis:6.2-alpine
    networks:
    - snipernetwork

  crawler-postgres:
    image: postgres:13
    # ports:
    #   - 5432:5432
    env_file:
      - .env
    networks:
    - snipernetwork
  
  crawler-server:
    image: drewdrewthis/alpha-sniper:crawler-server
    command: >
        bash -c "
        npm run start:prod
        "
    ports:
      - 3001:3001
    env_file:
      - .env
    environment:
      - INGESTION_SERVER_URL=http://host.docker.internal:3000
    networks:
      - snipernetwork

networks:
  snipernetwork: