version: '3.8'

services:
  ingestion-server:
    image: drewdrewthis/alpha-sniper:ingestion-server
    # build: 
    #   context: .
    #   dockerfile: Dockerfile
    command: >
        bash -c "
        yarn prisma generate &&
        yarn prisma migrate deploy &&
        yarn prisma db seed &&
        (yarn prisma studio & yarn start:prod)"
    restart: unless-stopped
    ports:
      - 3000:3000
      - 5555:5555
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - POSTGRES_HOST=postgres
      - OPENSEA_SCHEDULER_FREQUENCY_MS=0
      - X2Y2_SCHEDULER_FREQUENCY_MS=0
    networks:
      - snipernetwork
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:6.2-alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    networks:
      - snipernetwork

  postgres:
    image: postgres:13
    restart: unless-stopped
    ports:
      - 5432:5432
    env_file:
      - .env
    networks:
      - snipernetwork

  test-postgres:
    image: postgres:13
    restart: unless-stopped
    ports:
      - 5433:5432
    env_file:
      - .env.test
    networks:
      - snipernetwork
    

networks:
  snipernetwork: